.modal_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    min-height: 90vh;
    width: 50vw;
    max-width: 80vh;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    border-bottom: solid 5px var(--color-blue);
    border-right: solid 2px var(--color-blue);
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.4s both;
}

.modal_container a{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    z-index: 8;
}

.modal_container a:hover{
    transition: 0.4s;
    filter : blur(4px)
}


.close_modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--color-black);
}

#logo_project {
    width: 100%;
    height: auto;
}

#cross{
    height: 40px;
    cursor: pointer;
}

.displayNone{
    display: none;
}

@media screen and (max-width: 1010px) {

    .modal_container{
        min-height: inherit;
        height: 80vh;
    }

    .modal_container p {
        font-size: 20px;
        text-align: justify;
    }

    .logo_project{
        width: 70%;
    }
}

@media screen and (max-width: 600px) {

    .modal_container{
        height: 80vh;
        border-radius: 50px;
    }

    .modal_container p {
        font-size: 17px;
        text-align: justify;
    }

    .logo_project{
        width: 70%;
    }
}

@keyframes fadeIn {
    from { opacity : 0}
    to { opacity : 1}
}