.modal_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    height: 80vh;
    width: 80vw;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    border-bottom: solid 5px var(--color-blue);
    border-right: solid 2px var(--color-blue);
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.4s both;
}

.modal_container h3{
    padding-top: 40px;
}

.aside_modal_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside_modal{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.aside_modal h4{
    padding: 30px 0px 30px 0px;
}

.modal_container a{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    z-index: 8;
    padding-top: 20px;
}

.modal_container a:hover{
    transition: 0.4s;
    filter : blur(4px)
}


.close_modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--color-black);
}

#logo_project {
    width: 100%;
    height: auto;
}

#cross{
    height: 40px;
    cursor: pointer;
}

.displayNone{
    display: none;
}

@media screen and (max-width: 1010px) {

    .modal_container{
        width : 80vw;
        height: inherit;
        min-height: 30vh;
    }

    .modal_container p {
        font-size: 20px;
        text-align: justify;
    }

    .logo_project{
        width: 70%;
    }
}

@media screen and (max-width: 600px) {

    .modal_container{
        height: auto;
        border-radius: 50px;
        padding: 20px ;
    }

    .aside_modal_container {
        display: flex;
        flex-direction: column;  
        width: 100%;      
    }

    .aside_modal{
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .modal_container p {
        font-size: 17px;
        text-align: justify;
    }

    .logo_project{
        width: 70%;
    }
}

@keyframes fadeIn {
    from { opacity : 0}
    to { opacity : 1}
}