.modal_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    min-height: 90vh;
    width: 50vw;
    max-width: 80vh;
    padding: 20px 50px 20px 50px;
    border-radius: 100px;
    border-bottom: solid 5px var(--color-blue);
    border-right: solid 2px var(--color-blue);
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_container a{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.close_modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--color-black);
}

#logo_project {
    width: 100%;
}

#cross{
    height: 40px;
    cursor: pointer;
}

.displayNone{
    display: none;
}