.mini_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    width: 20vw;
    padding: 30px;
    background-color: var(--color-white);
    border-radius: 20px;
    border-bottom: solid 5px var(--color-pink);
    border-right: solid 3px var(--color-pink);
}

.mini_card img {
    height: auto ;
    max-width: 100%;
}

.mini_card button{
    cursor: pointer;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: var(--color-white);
    border: solid 1px var(--color-black);
    border-radius: 8px;
    transition: border 0.3s, color 0.3s;
}

.mini_card button:hover {
    border: solid 1px var(--color-pink);
    color: var(--color-pink);
}


@media screen and (max-width: 1010px) {
    .mini_card{
        height : 30vh
    }

    .mini_card h3{
        height : 3vh
    }

    .mini_card img {
        height: 40% ;
        max-width: 100%;
    }
}


@media screen and (max-width: 600px) {

    .mini_card{
        height : 25vh;
        width : 30vw;
        margin-bottom: 20px;
        padding: 15px;
    }

    .mini_card h3 {
        font-size: 10px;
    }

}