/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

ul {
    list-style-type: none;
    }

/* Polices */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');


/* Déclaration de variables */

* {
    --color-black: #1B1B1B;
    --color-pink: #fb44ff;
    --color-blue: #00ffff;
    --color-white: white;
  }
  
html {
    scroll-behavior: smooth;
}

.App {   
    overflow-y: hidden;
    background: linear-gradient(0deg, rgba(27, 27, 27, 0.98), rgba(27, 27, 27, 0.98)), url("./components/background_general.jpg");
    background-size: contain;
}

.App h1, h2, h3, button {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

.App a {
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    /* text-shadow: 1px 1px var(--color-pink); */
    font-style: italic;
    font-weight: lighter;
}

.App h1 {
    font-size: 30px;
    margin: 10vh;
    color: var(--color-white);
    text-shadow: 1px 1px var(--color-pink);
}

.App h2 {
    font-size: 18px;
}

.App h3 {
    font-size: 16px;
    margin: 2vh;
    text-align: center;
}

.App button {
    font-size: 14px;
}

.App p, span, li {
    font-family: 'VT323', monospace;
    font-size: 25px;
}