/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

ul {
    list-style-type: none;
    }

/* h1{
    font-family: ;
} */

/* Déclaration de variables */

* {
    --color-black: #1B1B1B;
    --color-pink: #fb44ff;
    --color-blue: #00ffff;
    --color-white: white;
  }